<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Platforms</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./js/finance.js"></script>
</head>
<body>
    <nav class="container">
        <h1>Finance Platforms</h1>
        <div class="nav_links">
            <a href="/">Cryptocurrency</a>
            <a href="/exchanges">Exchanges</a>
        </div>
    </nav>
    <main class="container">
        <div id="data_container"></div>
        <div id="pagination"></div>
    </main>
</body>
</html>
