<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>
    <nav class="container">
        <h1>Cryptocurrency</h1>
        <div class="nav_links">
            <a id="finance" href="/finance_platforms">Finance Platforms</a>
            <a id="exchanges" href="/exchanges">Exchanges</a>
        </div>
    </nav>
    <main class="container">
        <div id="data_container"></div>
        <div id="pagination"></div>
    </main>
</body>
</html>
