<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <img src="./images/bullet-train-2022.jpg" alt="bullet-train-2022">
    <img src="./images/evil-dead-rise-2023.jpg" alt="evil-dead-rise-2023">
    <img src="./images/smile-2022.jpg" alt="smile-2022">
</body>
</html>
