<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatres</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <p>SM City Davao <img src="../images/davao-theatre.jpg" alt="SM-city-Davao"></p>
    <p>IMAX SM Lanang <img src="../images/imax-davao.jpg" alt="SM-Lanang-Imax"></p>
    <p>G-mall of Digos <img src="../images/gmall-digos.jpg" alt="G-mall-Digos"></p>
</body>
</html>
