* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 50px;
    text-align: center;
}
h1, a {
    font-size: 30px;
    width: 80px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    text-decoration: none;
    background-color: green;
}
.bg-blue {
    color: white;
    background-color: blue;
}
.bg-red {
    color: white;
    background-color: red;
}