<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript Exam</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="./js/script.js"></script>
        <script src="./js/squares.js"></script>
        <link rel="stylesheet" href="./styles/style.css" />
    </head>
    <body>
        <nav class="container">
            <h1 class="d-inline-block">Build your Empire!</h1>
            <div class="d-inline-block font-bold text-white">
                <span id="brick" class="border-radius-sm d-inline-block">Brick</span>
                <span id="grass" class="border-radius-sm d-inline-block">Grass</span>
                <span id="gravel" class="border-radius-sm d-inline-block">Gravel</span>
                <button id="clear" class="btn border-radius-sm bg-red font-bold text-white">Clear</button>
            </div>
        </nav>
        <main class="container">
            <div id="canvas" class="d-inline-block"></div>
            <aside id="users" class="d-inline-block">
                <h5>List of active players</h5>
                <ul id="connectedUsers"></ul>
            </aside>
        </main>
    </body>
</html>
