<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Color Theme</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="./js/script.js"></script>
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>
        <nav class="container">
            <button id="light-mode">💡 Light mode</button>
            <button id="random-mode">🎲 Random mode</button>
            <button id="dark-mode">🌙 Dark mode</button>
        </nav>
    </body>
</html>
