<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Coupons</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <main class="container">
        <h1>Welcome Customer!</h1>
        <p>We're giving away free coupons as token of appreciation for first <%= count.count %> customer(s)</p>
        <form id="register" action="/coupon" method="post">
            <h2>Kindly type your name:</h2>
            <input name="name" type="text" placeholder="Enter your name">
            <input id="submit" type="submit" value="Submit">
        </form>
    </main>
</body>
</html>
