*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    height: auto;
    width: 100%;
    border: 1px solid black;
}
#logo{
    min-height: 130px;
    width: 260px;
    background-color: #B97A57;
    display: inline-block;
    margin-right: 20px;
}
#wrapper{
    width: 920px;
    background-color: #FFD9B7;
    margin: 0px auto;
    padding: 20px;
}
#navigation{
    min-height: 130px;
    width: 591px;
    background-color: #FF7F27;
    display: inline-block;
    vertical-align: top;
}
#main_content{
    min-height: 250px;
    width: 100%;
    background-color: #880015;
    display: block;
    padding: 20px;
    padding-right: 0px;
    margin: 20px 0px;
}
#about{
    min-height: 250px;
    width: 650px;
    background-color: #FFAEC9;
    display: inline-block;
}
#advertisement{
    min-height: 200px;
    width: 155px;
    background-color: #C8BFE7;
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px;
}
.sponsors{
    min-height: 65px;
    width: 32.95%;
    background-color: #FFFF88;
    display: inline-block;
}
/* media */
@media only screen and (max-width: 480px) {
    
}
@media only screen and (min-width: 481px) {

}
@media only screen and (min-width: 1024px) {
    
}