<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <main class="container">
        <div class="game">
            <h3>Guess the Word:</h3>
            <h4></h4>
            <div class="chats"></div>
            <form id="answer">
                <input id="message-input" name="answer" type="text">
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </main>
</body>
</html>
