@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply text-[#1c1c1c] pl-2 rounded-md
}

label {
    @apply block mb-2 cursor-pointer
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
