<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Recitation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <button>Raise hand</button>
    <div id="status"></div>
</body>
</html>
