body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #2E1E39, #1D3B7D);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registration-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.registration-container h2 {
  margin-bottom: 15px;
  color: #2E1E39;
  text-align: center;
}

.registration-form {
  display: grid;
  gap: 20px;
}

.registration-label {
  color: #2E1E39;
}

.registration-input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.registration-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.registration-button {
  background-color: #1D3B7D;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.registration-button:hover {
  background-color: #2E1E39;
  color: #ffffff;
}