body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #ff00ff, #ff0099);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registration-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.registration-container h2 {
  margin-bottom: 15px;
  color: #ff00ff;
  text-align: center;
}

.registration-form {
  display: grid;
  gap: 15px;
}

.registration-label {
  color: #ff00ff;
}

.registration-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.registration-input:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(255, 0, 255, 0.5);
}

.registration-button {
  background-color: #ff00ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.registration-button:hover {
  background-color: #ff0099;
  color: #ffffff;
}