* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 0px auto;
    width: 1250px;
    height: 100vh;
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
}
