<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Achievements Unlocked</h1>
        <div class="awards">
            <a href="./web-fundamentals-exam"><img src="./images/Web-fundamentals.png" alt="Web-fundamentals"></a>
            <a href="./php-exam"><img src="./images/php.png" alt="PHP"></a>
        </div>
    </div>
</body>
</html>
